{% extends 'inc/layout.html' %}

{% block content %}
<div class="row">
    {% for post in posts %}
        <div class="col s12 m12 item-blog">
            <div class="icon-block">
                {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="responsive-img">
                {% endif %}
                <h5><b>{{ post.titulo }}</b> <small>hace {{ post.timestamp|timesince }}</small></h5>
                <p class="light">{{ post.contenido|slice:":255" }}{% if post.contenido|length > 255 %}...{% endif %}</p>
                <a class="waves-effect waves-light btn-small" href="{{ post.get_absolute_url }}">Ver Más</a>
            </div>
        </div>
    {% endfor %}
    <div class="col s12 m12 center">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li><a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">First</a></li>
                <li><a href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
            {% if posts.number == i %}
                <li class="active"><a href="#!">{{ i }}</a></li>
            {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                <li class="waves-effect"><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
                <li><a href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last</a></li>
            {% else %}
                <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}