{% extends 'inc/layout.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m12 item-blog">
        <div class="icon-block">
            {% if post.imagen %}
            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="responsive-img">
            {% endif %}
            <h5><b>{{ post.titulo }}</b> <small>hace {{ post.timestamp|timesince }}</small></h5>
            <div class="autor">Autor: {{ post.user }}</div>
            <div class="light">
                {{ post.contenido }}
            </div>
        </div>
    </div>
</div>
{% endblock %}